.chat-log-add {
border-top:1px solid #EEAF4B;
background:#EEAF4B;
}

.userlist {
background:#EEAF4B;
border-right:1px solid #F39B0C;
}

.ps-room {
border-left:1px solid #D36A1A;
}

.chat-log,.ps-room.ps-room-light {
color:#000;
background-repeat:no-repeat;
background-position:center;
}

.menugroup .button {
background:#F78204;
}

.menugroup .button:hover {
background:#0081FF;
}

.userlist li {
border:none;
color:#000;
}

body {
background-image:url(http://i57.tinypic.com/2quir7a.jpg);
background-repeat:no-repeat;
background-position:center;
}

.highlighted {
background-color:#FA5235;
}

.utilichart .pokemonnamecol {
padding-top:5px;
height:23px;
width:115px;
color:#77d6b8;
font-size:10pt;
}

.utilichart .typecol img {
margin-right:1px;
}

.utilichart .col {
float:left;
padding-top:6px;
height:22px;
font-size:9pt;
color:#089004;
}

.utilichart .twoabilitycol {
padding-top:0;
height:28px;
font-size:8pt;
width:90px;
}

.utilichart .abilitycol {
padding-top:7px;
height:21px;
font-size:8pt;
width:90px;
}

.utilichart .labelcol em,.utilichart .widelabelcol em,.utilichart .pplabelcol em,.utilichart .statcol em,.utilichart .bstcol em {
color:red;
font-size:7pt;
font-style:normal;
}

.pm-window h3,.pm-log-add {
background-color:#F78204;
border-color:#F78204;
}

.pm-window h3:hover {
background-color:#0081FF;
border-color:#0081FF;
}

pm-window h3,.pm-log-add:hover {
background-color:#0081FF;
border-color:#151515;
}

.broadcast-blue {
background-color:#660606;
padding:2px 4px;
}

.message-announce {
background:#BDCA0A;
border-color:#40FF00;
}